{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url({{.Params.image}})">
  {{ else }}
    {{ if eq .Params.backgroundposition "top" }}
      <header class="main-header post-head" style="background-image: url({{ $baseurl }}{{.Params.image}}); background-position: top;">
    {{ else }}
      <header class="main-header post-head" style="background-image: url({{ $baseurl }}{{.Params.image}})">
    {{ end }}
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">




  <nav class="main-nav clearfix">
{{end}}

  {{ if .Site.Menus.main }}
          <!-- Wrapper -->
          <div id="menu-icon-wrapper" class="menu-icon-wrapper">
              <!-- SVG element with paths -->
              <svg width="100px" height="100px">
                  <path stroke="{{.Params.menucolor}}" id="pathA" d="M 30 40 L 70 40 C 90 40 90 75 60 85 A 40 40 0 0 1 20 20 L 80 80"/>
                  <path stroke="{{.Params.menucolor}}" id="pathB" d="M 30 50 L 70 50"/>
                  <path stroke="{{.Params.menucolor}}" id="pathC" d="M 70 60 L 30 60 C 10 60 10 20 40 15 A 40 38 0 1 1 20 80 L 80 20"/>
              </svg>
              <!-- Trigger to perform the animations -->
              <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
          </div>
  {{end}}
  </nav>


 <div class="vertical">
        <div class="main-header-content inner">

{{ if .Params.textshadow }}
  <h1 style="text-shadow: 2px 2px #000000;" class="page-title">{{ .Params.header }}</h1>
  <h2 style="text-shadow: 1px 1px #000000;" class="page-description">{{ .Params.subheader }}</h2>
{{ else }}
  <h1 class="page-title">{{ .Params.header }}</h1>
  <h2 class="page-description">{{ .Params.subheader }}</h2>
{{ end }}


<!-- 
  {{if .Params.letters}}

      <div id="animated-letters">{{ .Params.letters }}</div>

  {{end}}
-->
      </div>
  </div>


    <a id="sauss" style="color: {{ .Params.photosourcecolor }}" href="{{ .Params.photosourcehref }}">
      {{ .Params.photosourcetext }}
    </a>

</header>



<main class="content" role="main">


  <article class="post {{ .Section }}">

    <header class="post-header">

        <h1 class="post-title">{{.Title}}</h1>


        <small>{{.Description}}</small>

        <section class="post-meta">
        {{ if eq .Section "post"}}
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
        {{end}}
         {{ range .Params.tags }}
          <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">#{{ . }}</a></span>
         {{ end }}
        </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>

{{ if ne .Params.postfooter false}}
  <footer class="post-footer">


    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{ $baseurl }}{{.Site.Params.logo}})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{end}}

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
{{end}}
</article>

</main>
{{ partial "footer.html" . }}
